body {
  text-align: center;
  margin-top: 50px;
   
}

#trifecta .number {
    display: flex;
    display: inline-flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    font-size: x-large;
    

}

li{
    list-style:none;
    margin-top: 20px;
    margin-right: 40px;
    font-weight: bold;
    font-variant-caps:all-petite-caps;
    font-size: 30px;
}

.items__container{
    margin-top: 100px;
    display: flex;
    font-size: x-large;
}

.buttons__area{
    margin-top: 50px;
    
}

.middleSection{
    margin-top: 100px;
}

button{
    margin-left: 20px;
    margin-right: 20px;
}

input{
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size:x-large;
    
}  

:root {
    --p-color: red; 
}

.redNum{
    color: var(--p-color);
}

:root {
    --p2-color: green; 
}

.greenNum{
    color: var(--p2-color)
}